<p>
  right works!
</p>

<div
    cdkDropList
    [cdkDropListData]="tasks.content"
    class="example-list">
    <mat-expansion-panel *ngFor="let item of tasks.content; let i = index; " #panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
            <ng-container *ngIf="i < 1; else lightGreen"  >
              <div id="circle" [ngStyle]="{background: item.color}"></div>{{item.text}}
            </ng-container>
            <ng-template #lightGreen>
                <ng-container *ngIf="i > 0 && i < 2;else yellow">
                  <div id="circle" [ngStyle]="{background: item.color}"></div>{{item.text}}
                </ng-container>
            </ng-template>
            <ng-template #yellow>
                <div id="circle" [ngStyle]="{background: item.color}"></div>{{item.text}}
            </ng-template>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </div>