

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);


svg {
  width: 100%;
  font: 14px 'Open Sans';
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.focus {
  width: 100%;
}

.above { fill: rgb(252,141,89,0); }


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  fill: #F2A120;
  clip-path: url(#clip);
}

.areaOuterLower{
fill: rgba(242, 161, 32, 0.24);
}

.areaOuterUpper{
  fill: rgba(242, 161, 32, 0.24);
}


.areaOuterUpper2{
  fill: rgba(62, 115, 247, 0.24);
}

.areaOuterLower2{
  fill: rgba(62, 115, 247, 0.24);
  }


.areaInner {
fill: rgba(242, 161, 32, 0.8);
}

.areaInner2 {
  fill: rgba(62, 115, 247, 0.8);
  }

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

.row {
  float: left;
  padding: 10px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  /*height: 300px;  Should be removed. Only for demonstration */
}

.rect {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.brush .extent {
  stroke: #fff;
  fill: steelblue;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

rect.mover {
          stroke: red;
          stroke-opacity: .1;
          fill: lightSteelBlue;
          fill-opacity: .5;
      }