@import '../area-chart/tabletChart.css'; 

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

#tabletChart{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}

.row {
    float: left;
    padding: 10px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    /*height: 300px;  Should be removed. Only for demonstration */
  }

drag-scroll {
    height: 50px;
    width: 100px;
  }

.box {
    width:100vw;
    height:100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cell {
    flex: 0 0 33%;
    z-index: 2;                   
    height: 78vh;
    border: 2px solid;
}

.cell:nth-child(-n+3) {
    height: 10vh;
    background-color: #fff;
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-bottom: none;
    border-top: none;
}

.cell:nth-child(n+7) {
    height: 10vh;
}

.example-list {
    /* border: solid 1px #ccc; */
    min-height: 60px;
    background: white;
    overflow: hidden;
    display: block;
    height: 102%;
}

.example-list > mat-expansion-panel {
    background-color: rgb(251, 255, 20);
}

.example-list-right {
    /* border: solid 1px #ccc; */
    min-height: 60px;
    background: white;
    overflow: hidden;
    display: block;
    height: 102%;
    /* https://stackblitz.com/edit/mat-drag-drop-xfdfuh?file=src%2Fapp%2Fapp.component.html */
}

#circle {
    background-color: rgba(255, 255, 255, 1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    border: 2px solid;
}
#title{
    float: left;
    margin: auto 4px;
    font-size: 20px;
}



.cardList{
    display: block;
    width: 100%; 
    height: 100%;
}


.cardBorder{
    display: inline-block;
    height: 500px;
    width: 100%;
    border: 3px solid;
    margin-right: 10px;
    background-color: #fff;
}

.diag {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}

.cardLetter{
    position: absolute;
    bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 100px;
}

.mat-expansion-panel  {
    border-radius: 0 !important;
    border: 2px solid;
    transition: none !important;
    box-shadow: none !important;
    margin: -2px !important;
    padding: 5px;
}

.mat-expanded {
    background-color: rgb(208, 230, 255);
}

.mat-expansion-panel-header {
    /* height: 100% !important; */
    display: contents !important; 
    padding: 0 0px !important; 
}

/* DRAGULA in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }