
    <div class="box" >      
      <div *ngIf="!hideTabletPanels; else other_content"  style="display: flex; height: 100%">
          <div class="column">
            <div class="cell" style="flex: 0 0 5%; justify-content: center; display: flex; align-items: center;">
              <p style="font-family: titillium">ACTION PLAN</p>
            </div>

            <div class="cell" style="flex: 0 0 95%;">
              <div dragula="COPYABLE" id="left" class="example-list" (click)="closeLeftPanel($event.target)"> </div>
            </div>
          </div>

          <div class="column">
            <div class="cell" style="flex: 0 0 5%; justify-content: center; display: flex; align-items: center;">
                <p style="font-family: titillium">LATE PASSENGERS</p>
            </div>

            <div class="cell" style="z-index: 3; flex: 0 0 60%; position: relative;" >
              <app-area-chart id="chart1" style="width: 100%"></app-area-chart>
              <div class="applied-box">
                <p>Tap on a countermeasure to preview the effects</p>
              </div>
            </div>

            <div class="cell" style="flex: 0 0 35.0%; border-top: 5px solid red ">
              <div  class="swiper-container" [swiper]="config" style="height: 100%;">
                <div class="swiper-wrapper" (dblclick)="resize()">
                  <div class="swiper-slide" >
                    <iframe src="assets/Flight_Information_Tablet.svg" style="width: 100%; height: 100%;  border: 0px;  padding: 0px 0px;  " ></iframe>
                    <div class="iframeOverlay"></div>
                  </div>
                  <div class="swiper-slide" >
                    <iframe  src="assets/Flight_Information_Tablet.svg" style="width: 100%; height: 100%;  border: 0px;  padding: 0px 0px;  " ></iframe>
                    <div class="iframeOverlay"></div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div> 

          <div class="column">
            <div class="cell" style="flex: 0 0 5%; justify-content: center; display: flex; align-items: center;">
              <p style="font-family: titillium">COUNTERMEASURES</p>
            </div>

            <div class="cell" style="flex: 0 0 95%; ">
              <div dragula="COPYABLE" id="right" class="example-list-right"> 
                <mat-expansion-panel 
                                    (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false"
                                    [expanded]="isExpanded===i"
                                    hideToggle="true"
                                    *ngFor="let item of tasks; let i = index" 
                                    [attr.id]='"panel_item_"+i'
                                    #panelRight >
                  <mat-expansion-panel-header [collapsedHeight]="panelItemHeight" [expandedHeight]="panelItemHeight" (click)="expandTaskPanel(i)" >
                    <mat-panel-title  [style.height]="panelItemHeight">
                      <iframe id='main_svg_{{i}}' class="svgCM" [src]='"assets/cm_"+(i+1)+".svg" | safe' (load)="loadIframe()" style="border: 0px; flex-grow: 1; "></iframe>
                      <div class="iframeOverlay" id="iframeOverlay_{{i}}"></div>
                    </mat-panel-title>
                  </mat-expansion-panel-header >
            
                    <div class="cardList" (dblclick)="selectCard(i)" >
                        <div  class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)" style="height: 100%;" #cardList>
                          <div class="swiper-wrapper" >
                            <div class="swiper-slide" >
                                <iframe id="card_{{i}}_A" class="card" [src]='"assets/Tablet/Right/r_"+ i +"_A_Tablet.svg" | safe' style="width: 100%; height: 100%;  border: 0px;  padding: 0px 10px;  " ></iframe>
                                <div class="iframeOverlay" ></div>
                            </div>
                            <div class="swiper-slide" >
                                <iframe id="card_{{i}}_B" class="card" [src]='"assets/Tablet/Right/r_"+ i +"_B_Tablet.svg" | safe' style="width: 100%; height: 100%;  border: 0px;  padding: 0px 10px;  " ></iframe>
                                <div class="iframeOverlay"></div>
                            </div>
                            <div class="swiper-slide" >
                                <iframe id="card_{{i}}_C" class="card" [src]='"assets/Tablet/Right/r_"+ i +"_C_Tablet.svg" | safe' style="width: 100%; height: 100%;  border: 0px;  padding: 0px 10px;  " ></iframe>
                                <div class="iframeOverlay"></div>
                            </div>
                            <ng-container *ngIf="i % 2 !== 0">
                              <div class="swiper-slide" >
                                <iframe id="card_{{i}}_D" class="card" [src]='"assets/Tablet/Right/r_"+ i +"_D_Tablet.svg" | safe' style="width: 100%; height: 100%;  border: 0px;  padding: 0px 10px;  " ></iframe>
                                <div class="iframeOverlay"></div>
                              </div>
                            </ng-container>
                          </div>
                          <div class="swiper-pagination"></div>
                            <div class="arrowUp">
                              <svg><polyline  points="298.58 166.55 318.36 181.53 338.14 166.55" fill="none" stroke="#5b5b5b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                            </div>
                        </div>
                    </div >
                  
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0" hideToggle="true" >
                  <mat-expansion-panel-header [collapsedHeight]="panelItemHeight" [expandedHeight]="panelItemHeight"  >
                  </mat-expansion-panel-header >
                </mat-expansion-panel>
                <mat-expansion-panel id='panel_item_5' class="mat-elevation-z0" hideToggle="true" >
                  <mat-expansion-panel-header [collapsedHeight]="panelItemHeight" [expandedHeight]="panelItemHeight" >
                  </mat-expansion-panel-header >
                </mat-expansion-panel>
              </div>
            </div> <!-- cell -->
          </div> <!-- column -->
      </div>
      <ng-template #other_content >
         
          <iframe src="assets/Expanded_View_CentralScreen_noGraph.svg" id="chartBackground" style="width: 100%; height: 100%;  border: 0px;  padding: 0px 0px; position: relative" ></iframe>
          <app-area-chart id="chart2" style="width: 100%; height: 100%;; position: absolute; top: 0px; left: 0px " #contentPlaceholder></app-area-chart>
          <div (dblclick)="resize()" style="height: 100px;width: 100px;position: absolute; bottom: 0px; background-color: red; "></div>
      </ng-template> 

    </div>
    


   