
    <div class="box">
      <div class="grid">

        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">
          <div
            dragula="COPYABLE" id="left"
            class="example-list"
            (click)="closeLeftPanel()"
            >
          
          </div>
        </div>
        <div class="cell" #chart>
            <svg width="20" height="600" ></svg>
        </div>
        <div class="cell" >
          <div
            dragula="COPYABLE" id="right"
            class="example-list-right"
            > 
            <mat-expansion-panel class="mat-elevation-z0"
                                 (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false"
                                 [expanded]="isExpanded===i"
                                 hideToggle="true"
                                 *ngFor="let item of tasks.content; let i = index" 
                                 [attr.id]="i"
                                 #panelRight >
              <mat-expansion-panel-header (click)="expandTaskPanel(i)" >
                <mat-panel-title  >
                  <div id="circle" ></div>
                  <div id="title">{{item.text}}</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
        
                <div class="cardList">
        
                  <div class="cardBorder" (dblclick)="selectCard(i)">
                    <div class="diag" style="width: 100%; height: 100%; position: relative;">
                      <div class="cardLetter">A</div>
                    </div>
                  </div>
                  
        
                  <div class="cardBorder" (dblclick)="selectCard(i)">
                    <div class="diag" style="width: 100%; height: 100%; position: relative;">
                      <div class="cardLetter">B</div>
                    </div>
                  </div>
                  
        
                  <div class="cardBorder" (dblclick)="selectCard(i)">
                    <div class="diag" style="width: 100%; height: 100%; position: relative;">
                      <div class="cardLetter">C</div>
                    </div>
                  </div>
                  
        
                </div >
              
            </mat-expansion-panel>
          </div>
        </div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    </div>


   