

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);


/* svg {
  font: 14px 'Open Sans';
} */

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.above { fill: rgb(252,141,89,0); }

/* #hash4_5{ fill: rgb(255, 81, 0);} */

.below { background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
); } 

/* .stripes {
  height: 250px;
  width: 375px;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 5px 5px;
}

.deg45 {
  background-color: white;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, gray), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, gray), color-stop(.75, gray), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, gray 25%, transparent 25%, transparent 50%, gray 50%, gray 75%, transparent 75%, transparent);
} */


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.areaIntersection{
  fill: rgb(243, 0, 0);
  stroke: #000;
}

.areaOuterLower{
fill: rgba(230, 230, 255, 0.8);
stroke: rgba(230, 230, 255, 0.8);
}

.areaOuterUpper{
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(230, 230, 255, 0.8);
}


.areaOuterUpper2{
  fill: rgba(167, 250, 159, 0.8);
  stroke: rgba(167, 250, 159, 0.8);
}

.areaOuterLower2{
  fill: rgba(167, 250, 159, 0.8);
  stroke: rgba(167, 250, 159, 0.8);
  }


.areaInner {
fill: rgba(127, 127, 255, 0.8);
}

.areaInner2 {
  fill: rgba(76, 182, 67, 0.8);
  }

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.median-line,
.legend .median-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.client .marker-bg,
.marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.server .marker-bg,
.marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

.row {
  float: left;
  padding: 10px;
  width: calc(100% - 20px);
  /*height: 300px;  Should be removed. Only for demonstration */
}

.rect {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.brush .extent {
  stroke: #fff;
  fill: steelblue;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

rect.mover {
          stroke: red;
          stroke-opacity: .1;
          fill: lightSteelBlue;
          fill-opacity: .5;
      }