@import '../area-chart/tabletChart.css'; 

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

.row {
    /* float: left;
    padding: 10px; */
    width:100vw;
    height:100vh;
    /* box-sizing: border-box;
    padding: 0px; */
    /*height: 300px;  Should be removed. Only for demonstration */
  }

svg{
    /* padding-top: 9%; */
    /* height: 55%;  */
}

.selection{
    stroke-width: 2px;
    stroke: #2277d6;
    height: 67%;
    transform: translate(-20px,-10px);
}

